{{>logout}}

{{>nav}}

<h2>These people have also signed up to support the cause:</h2>

<ul>
    {{#userData}}
        <li>
            Name:
            {{#if url}}
                <a href="{{url}}" target="_blank">
                    {{/if}}
                        {{first_name}} {{last_name}}
                    {{#if url}}
                </a>
            {{/if}}

            {{#if age}} <br> Age: {{age}} {{/if}}

            {{#if city}}
              <br> City: <a href="/signers/{{city}}"> {{city}} </a>
            {{/if}}
        </li>
    {{/userData}}
</ul>
